@charset "UTF-8";

/*
Patela de Cores
verde:#49a09d
lilás: #5f2c82
*/


/*
    Versão Mobile
    */

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*
    A borda faça parte da conta de largura
    */
}

body,html{
background-color: #5f2c82 ;
height: 100vh;
width: 100vw;
}

main{
    position: relative; /*centralizando main*/
    height: 100vh;  /*Deixando main em tela cheia*/
    width: 100vw;   /*Deixando main em tela cheia*/

}

section#login{
    position: absolute; /*centralizando section*/
    top: 50%; /*centralizando section*/
    left: 50%;/*centralizando section*/
    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden; /*tudo que tiver fora da borda vai ficar escondido*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
    transform: translate(-50%, -50%); /*sempre no meio da tela*/
    transition: width .3s, height .3s;  /*duração da transição*/
    transition-timing-function: ease;   /*transição suave*/
    

}

section#login >div#imagem{
    background-image: url(../imagens/pexels-vinícius-estevão-2896034\ \(1\).jpg);
    height: 200px;
    background-size: cover; /*aparece a imagem certinha ou content*/
    background-repeat: no-repeat;
    background-position: left bottom;
    display: block; /*aparece a imagem como bloco padrão*/
}

section#login > div#formulário{
    padding: 10px;
    display: block; /*aparece a imagem como bloco padrão*/

}

div#formulário > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulário > p {
    font-size: 0.8em;
}

form > div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px; /*margem de cima 5px da esquerda e direita com 0px*/
}

div.campo > label{
    display: none;
   
}

div.campo > span{
    /*background-color: black;*/
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;

}

div.campo >input{
    background-color: #94cfcd;
    font-size: 1em;
    width:calc(100% - 45px); /*width: 100% - 40px do spn ou do icone*/
    
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13px); /*Leva pra cima, tem que ser a ultima coisa do seletor */

}

div.campo >input:focus-within{ /*ganhando focu quando estiver digitando*/
    background-color: white;
}

form > input[type=submit]{
    display: block; /*posiciona em uma linha só*/
    font-size: 1em;
    width: 100%;
    height: 40px;
   background-color: #49a09d;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer; /*virar a maozinha quando passar o mouse por cima*/
}

form > input[type=submit]:hover{
    background-color: #2d6462;

}

form >a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #49a09d;
    color: #2d6462;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
    padding-top: 7px;
}

form >a.botao:hover{
    background-color: #6cd3cf;


}

form >a.botao > span{
    font-size: 0.8em;
}